TicoPay.WebApi/Connected Services/ServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ITS_CONTROL_DOCUMENTOS_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://ws-cd.itsales.online/ITS_CONTROL_DOCUMENTOS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://ws-cd.itsales.online/ITS_CONTROL_DOCUMENTOS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://ws-cd.itsales.online/ITS_CONTROL_DOCUMENTOS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Its_Integra_Control_FE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITS_CONTROL_DOCUMENTOS_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ITS_CONTROL_DOCUMENTOS_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITS_CONTROL_DOCUMENTOS_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ITS_CONTROL_DOCUMENTOS_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="ITS_CONTROL_DOCUMENTOS_RegistrarInformacion_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarInformacion" />
  </wsdl:message>
  <wsdl:message name="ITS_CONTROL_DOCUMENTOS_RegistrarInformacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarInformacionResponse" />
  </wsdl:message>
  <wsdl:portType name="ITS_CONTROL_DOCUMENTOS">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITS_CONTROL_DOCUMENTOS/GetData" message="tns:ITS_CONTROL_DOCUMENTOS_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITS_CONTROL_DOCUMENTOS/GetDataResponse" message="tns:ITS_CONTROL_DOCUMENTOS_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ITS_CONTROL_DOCUMENTOS/GetDataUsingDataContract" message="tns:ITS_CONTROL_DOCUMENTOS_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITS_CONTROL_DOCUMENTOS/GetDataUsingDataContractResponse" message="tns:ITS_CONTROL_DOCUMENTOS_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarInformacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ITS_CONTROL_DOCUMENTOS/RegistrarInformacion" message="tns:ITS_CONTROL_DOCUMENTOS_RegistrarInformacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITS_CONTROL_DOCUMENTOS/RegistrarInformacionResponse" message="tns:ITS_CONTROL_DOCUMENTOS_RegistrarInformacion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITS_CONTROL_DOCUMENTOS" type="tns:ITS_CONTROL_DOCUMENTOS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ITS_CONTROL_DOCUMENTOS/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ITS_CONTROL_DOCUMENTOS/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarInformacion">
      <soap:operation soapAction="http://tempuri.org/ITS_CONTROL_DOCUMENTOS/RegistrarInformacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ITS_CONTROL_DOCUMENTOS" type="tns:ITS_CONTROL_DOCUMENTOS">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ITS_CONTROL_DOCUMENTOS_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ITS_CONTROL_DOCUMENTOS/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ITS_CONTROL_DOCUMENTOS/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarInformacion">
      <soap:operation soapAction="http://tempuri.org/ITS_CONTROL_DOCUMENTOS/RegistrarInformacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_ITS_CONTROL_DOCUMENTOS" binding="tns:BasicHttpBinding_ITS_CONTROL_DOCUMENTOS">
      <soap:address location="http://vm5b631b1/ITS_CONTROL_DOCUMENTOS.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ITS_CONTROL_DOCUMENTOS" binding="tns:BasicHttpsBinding_ITS_CONTROL_DOCUMENTOS">
      <soap:address location="https://ws-cd.itsales.online/ITS_CONTROL_DOCUMENTOS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>